<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1 class="center"><%=link_to("Cards de Tradução",root_path)%> </h1>

    <p>Essa aplicação mostra uma série de palavras em português e inglês.</p>
    <p> <%= image_tag("joel.jpg", alt:"Joel Santana", border: 4, size: "300x200") %></p>

    <%= yield %>
  	<aside>
  	  <h3>Referências</h3>
  	  <p><%=link_to("Google Tradutor", "https://translate.google.com.br/?hl=pt-BR", target: "_blank")  %></p>
    </aside>
  </body>
</html>
